<div class="product_card{% unless product.available %} sold_out{% endunless %}">
  <a href="{{ product.url }}">
    {% include 'product-card-image' %}
  <h4>{{ product.title }}</h4>
  </a>
  {% include 'add-to-cart-form' %}
</div>
