@import "components/facets";

.collection .loading-overlay, .loading-overlay__spinner {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: .7;
}
.filters {
  grid-column: 1 / span 12;
  @media screen and (min-width:1024px) {
    grid-column: 1 / span 3;
  }
}
.product-grid-container {
  grid-column: 1 / span 12;
  @media screen and (min-width:1024px) {
    grid-column: 4 / span 9;
  }
}
#FacetFiltersFormMobile {
  display: none;
}

.main_collections_section {
  margin-top: 48px;
}