.product-template {
  .product_grid {
    padding-top: 80px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    display: grid;
    gap: 16px;
    .product-images { 
      position: relative;
      .breadcrumbs {
        position: absolute;
        top: 16px;
        left: 24px;
        @media screen and (min-width: 1260px) {
          top: 24px;
          left: 48px;
        }
      }
    }
    .product-detail {
      padding: 12px;
      .product-description {
        padding-top: 32px;
      }
    }
    @media screen and (min-width: 768px) {
      gap: 24px;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      .product-images {
        grid-column: 1 / span 2;
      }
      .sticky {
        top: 134px;
      }
      .product-detail {
        grid-column: 3 / span 1;
        padding: 4px 10px 0 10px;
        .price {
          font-size: 81.25%;
          font-style: normal;
        }
      }
    }
    @media screen and (min-width: 960px) {
      padding-top: 104px;
      gap: 32px;
    }
    @media screen and (min-width: 1260px) {
      gap: 48px;
    }
  }
  form {
    margin-top: 32px;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: flex-start; 
    align-items: stretch; 
    align-content: stretch;
    gap: 8px;
    button.wk-button {
      svg {
        path {
          transition: all 0.3s ease;
        }
      }
      &:not([disabled]):hover {
        background-color: transparent;
        color: var(--color-grey);
        svg {
          path {
            fill: var(--color-lightgrey);
          }
        }
      }
      &.wk-button--remove {
        &:not([disabled]):hover {
          background-color: transparent;
          color: var(--color-black);
          svg {
            path.filler {
              fill: transparent;
            }
          }
        }
      }
    }
    @media screen and (min-width: 960px) {
      max-width: 310px;
    }
    @media screen and (min-width: 1440px) {
      max-width: 500px;
    }
  }
  .variant_options {
    flex: 0 1 100%;
    margin-bottom: 24px;
    @media screen and (min-width: 768px) {
      margin-bottom: 32px;
    }
  }
  button.button {
    flex: 1 1 auto;
  }
  .radio_container {
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 16px;
    strong {
      font-weight: 400;
      font-size: 81.25%;
      padding: 0 0 16px 0;
      display: block;
    }
    &.flex {
      strong {
        flex: 1 1 60px;
        padding: 0;
      }
    }
    fieldset {
      flex: 1 1 100%;
      flex-basis: calc(100% - 60px);
      input[type=radio] {
        clip: rect(0,0,0,0);
        overflow: hidden;
        position: absolute;
        height: 1px;
        width: 1px;
        &+label {
          font-size: 75%;
          border-bottom: 1px solid transparent;
          color: white;
          display: inline-block;
          padding: 0 10px;
          height: 32px;
          line-height: 32px;
          text-align: center;
          transition: all 0.1s ease;
          cursor: pointer;
          color: var(--color-black);
          margin: 0 6px 0 0;
          font-size: 81.25%;
          font-style: normal;
        }
        &:checked+label {
          border-bottom: 1px solid var(--color-black);
          //color: white;
        }
      }
    }
    &.color {
      fieldset {
      input[type=radio] {
          &+label {
          padding: 10px;
          line-height: 1;
          border-radius: 16px;
          width: 32px;
          opacity: 0.75;
          .label_text {
            visibility: hidden;
            display: none;
          }
          &.green {
            border-color: var(--color-green-light);
            color: var(--color-black);
            background-color: transparent;
            }
          &.black {
            border-color: var(--color-black); 
            color: white;
            color: var(--color-black);
            background-color: var(--color-black);
            }
          &.white {
            background-color: white; 
            border-color: #f7f7f7;
            color: var(--color-black);
            background-color: transparent;
            }
            &.blue {
            background-color: #0b00ff; 
            border-color: #0b00ff;
            color: var(--color-black);
            }
          }
        }
      }
      input[type=radio]:checked+label {
      opacity: 1;
      &.green {
        background-color: var(--color-green-light);
        border-color: var(--color-green-light); 
        color: white;
        }
      &.black {
        background-color: var(--color-black); 
        border-color: var(--color-black); 
        color: white;
        }
      &.white {
        background-color: white; 
        border-color: var(--color-black); 
        color:  var(--color-black);
        }
        &.blue {
        background-color: #0b00ff; 
        border-color: #0b00ff; 
        color:  var(--color-white);
        }
      }
      }
    }
  .variant_options {
    div:last-of-type {
      margin-bottom: 0;
    } 
  }
  .size-help {
    padding-left: 60px;
    display: block;
  }
}

.companion_products_grid {
  margin-top: 88px;
  grid-column: 1 / span 12;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  display: grid;
  @media screen and (min-width: 1260px) {
    margin-top: 180px;
  }
  .title.flex {
    h2.h1, a {
      flex: 0 1 400px;
      text-transform: uppercase;
      // @media screen and (min-width: 1260px) {
      //   padding: 0 15%;
      // }
    }
  }
}

.product_recommendations {
  padding-top: 134px;
  h3 {
    margin-bottom: 24px;
  }
  .constrain {
    grid-column: 1 / span 12;
    @media screen and (min-width: 768px) {
      grid-column: 2 / span 10;
    }
  }
}

.shipping_time {
  margin-top: 16px;
  font-size: 81.25%;
  color: var(--color-lightgrey);
}

.alt_colours {
  margin-top: 18px;
  .flex {
    gap: 16px;
  }
  .title {
    padding-bottom: 16px;
    font-size: 81.25%;
  }
  .swatch {
    width: 32px;
    height: 32px;
    border-radius: 16px;
  }
  .current {
    .swatch {
      border: 1px solid var(--color-black);
    }
  }
}

@import "components/breadcrumbs";
