{{ 'styles-page.css' | asset_url | stylesheet_tag }}
<div class="page basic empty-page-content mininner">
  <div class="section-header">
    <br>
  <h1>{{ 'general.404.title' | t }}</h1>
</div>

<div class="rte mininner">
  <p>{{ 'general.404.subtext' | t }}</p>
  <br>
  <p>
  <a href="/collections/the-range" class="button">{{ 'general.404.link' | t }}</a>
    </p>
</div>
</div>

{% schema %}
{
  "name": "404"
}
{% endschema %}