{%- liquid
  assign products_to_display = section.settings.collection.all_products_count

  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
    assign more_in_collection = true
  endif
-%}

{% assign articleNumber = section.settings.products_to_show %}

<div class="grid pt-{{ section.settings.margin_top }} pb-{{ section.settings.margin_bot }}"">
  <div class="featured_collection">
    {%- if section.settings.title != blank -%}
    <h2>{{ section.settings.title | escape }}</h2>
    {%- endif -%}
      {%- if section.settings.collection != blank and section.settings.collection.all_products_count > 0 -%}
        <div class="collection_grid four product-grid nogap"> 
        {%- for product in section.settings.collection.products limit: 4 -%}
            {% include 'product-card-grid' %}
        {%- endfor -%}
        </div>
      {%- endif -%} 
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "class": "spaced-section featured_collection-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured collection",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "select",
      "id": "margin_top",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "s",
          "label": "Small"
        },
        {
          "value": "m",
          "label": "Medium"
        },
        {
          "value": "l",
          "label": "Large"
        },
        {
          "value": "xl",
          "label": "X Large"
        }
      ],
      "default": "m",
      "label": "spacing above",
      "info": "Top Margin"
    },
    {
      "type": "select",
      "id": "margin_bot",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "s",
          "label": "Small"
        },
        {
          "value": "m",
          "label": "Medium"
        },
        {
          "value": "l",
          "label": "Large"
        },
        {
          "value": "xl",
          "label": "X Large"
        }
      ],
      "default": "m",
      "label": "spacing below",
      "info": "Bottom Margin"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name"
    }
  ]
}
{% endschema %}
