<div class="page basic mininner">
  <div class="section-header {{ page.handle }}">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="rte">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "Page"
}
{% endschema %}