
@keyframes fade {
  0%   { opacity: 0; }
  11.11%   { opacity: 1; }
  33.33%  { opacity: 1; }
  44.44%  { opacity: 0; }
  100% { opacity: 0; }
}
.is-transitioning {
  display: block !important;
  visibility: visible !important;
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
  
}

html.is-animating .transition-fade {
  opacity: 0;
}

@keyframes noticefade2 {
  0%   { opacity: 0; }
  2%   { opacity: 1; }
  50%  { opacity: 1; }
  52%  { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes noticefade3 {
  0%   { opacity: 0; }
  2%   { opacity: 1; }
  31%  { opacity: 1; }
  33%  { opacity: 0; }
  100% { opacity: 0; }
}