
/*================ Buttons ================*/
button, input[type="submit"],.btn, .button {
  -webkit-appearance: none;
  outline: 0;
  cursor: pointer;
}
.btn, .button {
  display: inline-block;
  width: auto;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: normal;
  line-height: 30px;
  font-size: 100%;
  padding: 10px 24px;
  transition: 0.2s all  ease-in-out;
  background: var(--color-black);
  border: 1px solid var(--color-black);
  font-weight: 400;
  color: var(--color-white);
  text-transform: uppercase;
  font-style: normal;
  font-family: var(--font-heading-family);
  font-weight: 400;
  font-size: 87.5%;
  @media screen and (min-width: 1024px) {
    padding: 10px 40px;
  }
  &.large {
    padding: 16px 24px;
    font-size: 112%;
    width: 100%;
  }
  &:not([disabled]):hover,
  &:focus {
    color: var(--color-white);
    border-color: black;
    background-color: black;
  }

  &[disabled],
  &[aria-disabled] {
    cursor: default;
    opacity: 0.5;
  }
  &.nude {
    color: var(--color-black);
    padding: 0;
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
    &:not([disabled]):hover,
    &:focus {
      color: var(--color-black);
      background-color: transparent;
      border-color: transparent;
    }
  }
  &.alt {
    color: currentcolor;
    border-color: currentcolor;
    background-color: transparent;
    box-shadow: none;
    &:not([disabled]):hover,
    &:focus {
      color: currentcolor;
      background-color: transparent;
      border-color: currentcolor;
    }
  }
}
.menu_toggle {
  @media screen and (min-width: 800px) {
    display: none;
    visibility: hidden;
  }
  position: absolute;
  left: 0;
  top: 10px;
  width: 49px;
  height: 40px;
  padding: 12px 11px;
  background: url('//cdn.shopify.com/s/files/1/0584/9533/6495/t/2/assets/burger_back_100x.png?v=109575220013754224991665576896') no-repeat center left; 
  // background: url('//cdn.shopify.com/s/files/1/0584/9533/6495/t/2/assets/burger_back_50x.png?v=109575220013754224991665576896') no-repeat top left; 
  background-size: contain;
  button.menuburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 14px;
    .line {
      display: flex;
      width: 100%;
      height: 2px;
      width: 14px;
      background: var(--color-white);
    }
  }
}

.accordion_button {
  -webkit-appearance: none;
  outline: 0;
  cursor: pointer;
  width: 100%;
  border: 0;
  text-transform: uppercase;
  position: relative;
  padding-left: 30px;
  height: 39px;
  line-height: 39px;
  text-align: left;
  font-size: 81.25%;
  background-color: transparent;
  color: var(--color-black);
  &:before {
    content: " ";
    display: block;
    width: 11px;
    height: 1px;
    background-color: var(--color-black);
    position: absolute;
    left: 0;
    top: 20px;
  }
  &:after {
    content: " ";
    display: block;
    width: 1px;
    height: 11px;
    top: 15px;
    left: 5px;
    position: absolute;
    background-color: var(--color-black);
    transition: all 0.3s ease;
    transform-origin: center;
  }
  &[aria-expanded="true"] {
    &:after {
      top: 20px;
      height: 1px;
    }
  }
}
.accordion_section {
  padding-left: 30px;
  p {
    font-size: 81.25%;
  }
}

.addtocart.button {
  position: relative;
  z-index: 1;
  &:before {
    content: " ";
    background: conic-gradient(var(--color-white) 0deg, var(--color-black) 280deg);
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    left: 8px;
    top:10px;
    border-radius: 16px;
    z-index: 2;
    opacity: 0;
    .js-ajax-cart-request-in-progress & {
      animation: rotate-center 0.6s linear infinite reverse both;
      opacity: 1;
    }
  }
  &:after {
    content: " ";
    background: var(--color-black);
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    left: 11px;
    top:13px;
    border-radius: 16px;
    z-index: 3;
    opacity: 0;
    .js-ajax-cart-request-in-progress & {
      opacity: 1;
    }
  }
  &:hover, &:focus {
    &:after {
      background: black;
    }
    &:before {
      background: conic-gradient(var(--color-white) 0deg,black 280deg);
    }
  }
}