// Header Styles
.site-header {
  padding: 0;
  @media screen and (max-width: 800px) {
    &:after {
      content: " ";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 50px;
      background-color: var(--color-white);
      box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.2);
      z-index: 2;
    }
  }
  @media screen and (min-width: 800px) {
    padding: 0 10px;
    flex-wrap: nowrap;
  }
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  .noticeActive & {
    top: 28px;
  }
  .menu_toggle {
    @media screen and (min-width: 800px) {
      display: none;
      visibility: hidden;
    }
    order: 1;
    flex: 0 0 49px;
    position: relative;
    z-index: 4;
    height: 40px;
    background: url('https://cdn.shopify.com/s/files/1/0584/9533/6495/files/burger_back.png?v=1666951035') no-repeat center left; 
    // background: url('//cdn.shopify.com/s/files/1/0584/9533/6495/t/2/assets/burger_back_50x.png?v=109575220013754224991665576896') no-repeat top left; 
    background-size: contain;
    button.menuburger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 14px;
      padding: 14px 12px;
      height: 40px;
      .line {
        display: flex;
        width: 100%;
        height: 1px;
        width: 14px;
        background: var(--color-white);
        &:first-child {
          margin-top: 1px;
        }
      }
    }
  }
  .logo {
    position: relative;
    z-index: 4;
    order: 2;
    img {
      display: block;
    }
    @media screen and (max-width: 800px) {
      flex: 0 0 125px;
      height: 50px;
      padding: 13px 0 12px 0;
    }
    @media screen and (min-width: 800px) {
      flex: 0 0 180px;
      height: 31px;
      order: 1;
    }
    @media screen and (min-width: 1260px) {
      flex: 0 0 240px;
      padding-left: 60px;
    }
  }
  .navigation {
    @media screen and (max-width: 800px) {
      position: absolute;
      z-index: 1;
      order: 4;
      left: 0;
      top: 0;
    }
    @media screen and (min-width: 800px) {
      //position: relative;
      flex: 1 0 50%;
      flex-basis: calc(100% - 360px);
      order: 2;
    }
    @media screen and (min-width: 1260px) {
      flex-basis: calc(100% - 480px);
    }
  }
  .customer_actions {
    position: relative;
    z-index: 4;
    order: 3;
    @media screen and (min-width: 800px) {
      gap: 16px;
      flex: 0 0 180px;
      margin-right: 10px;
    }
    @media screen and (min-width: 1260px) {
      flex: 0 0 240px;
    }
    button, a {
      position: relative;
      flex: 0 1 16px;
      height: 16px;
      line-height: 16px;
    }
    @media screen and (max-width: 800px) {
      .toggle-search, .site-header_account {
        display: none;
        visibility: hidden;
      }
    }
    .carttoggle {
      @media screen and (max-width: 800px) {
        margin-right: 16px;
        svg {
          height: 20px;
          width: 20px;
        }
      }
    }
    .cart_number {
      position: absolute;
      font-size: 8px;
      top: 98%;
      right: 50%;
      line-height: 1;
    }
  }
}

.notices {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--color-black);
  padding: 4px;
  min-height: 28px;
  transition: opacity 0.2s ease-in; 
  .hideNav & {
    opacity: 0;
  }
  .hideNav.go & {
    display: none;
    visibility: hidden;
  }
  .flex {
    justify-content: space-between;
    //max-width: 1352px;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    column-gap: 16px;
    &.bc-1 {
      justify-content: center;
    }
    @media screen and (min-width: 768px) {
      padding: 0 16px;
    }
  }
  p {
    line-height: 20px;
    font-size: 87.5%;
    white-space: nowrap;
    color: var(--color-white);
  }
  a {
    color: var(--color-white);
    text-decoration: underline;
  }
  @media screen and (max-width:960px) {
    .flex {
      span {
        p {
          font-size: 13px;
          
        }
      }
      &.bc-2, &.bc-3 {
        min-height: 20px;
        position: relative;
        span {
          text-align: center;
          position: absolute;
          inset: 0;
          opacity:0; 
          animation-duration: 16s; 
          animation-name: noticefade2; 
          animation-iteration-count: infinite; 
          position:absolute; 
          &:first-child {
            opacity: 1;
          }
        }
      }
      &.bc-2 {
        span {
          &:nth-child(1) { animation-delay: 0s; }
          &:nth-child(2) { animation-delay: 8s; }
        }
      }
      &.bc-3 {
        span {
          animation-name: noticefade3; 
          animation-duration: 24s; 
          &:nth-child(1) { animation-delay: 0s; }
          &:nth-child(2) { animation-delay: 8s; }
          &:nth-child(3) { animation-delay: 16s; }
        }
      }
    }
  }
}
body.noticeActive {
  padding-top: 28px;
}