:root {
  --color-bg: #fff;
  --color-white: #F8F9FA;
  --color-black: #212529;
  --color-grey: #3F494E;
  --color-midgrey: #8C8C8C;
  --color-lightgrey:#CED4DA;
  --color-error: red;
  --font-heading-family: 'ibm-plex-sans-condensed', sans-serif;
  --font-body-family: 'Marr Sans True Web', sans-serif;
}













